/* src/index.css */
html, body, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: Inter, sans-serif;
  background-color: #3B0E18;
  color: #F8F5F2;
}

* {
  box-sizing: inherit;
}
